
body{
    overflow-x: hidden;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about {
    font-size: larger;
    font-family: cursive;
    text-align: center;
    font-style: bold;
    margin-left: 10%;
    margin-right: 10%;
}
.text-white{
    color: white;
}
.center{
    justify-content: center;
}
.textarea{
    height: 150px;
}
.icon{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}
@media only screen and (max-width: 800px){
    .icon{
        height: 30px;
        width: 30px;
    }
}
.cent{
    text-align: center;
    font-size: large;
    color: white;
    font-weight: bold;
}
.contact{
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
}
.fl{
    background-color: black;
    opacity: 0.7;
    text-align: center;
}
.dev_img{
    height: 100%;
    width: 100%;
}