<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Welcome</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Welcome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row" style="height: 80vh;">
        <div class="col-sm-12 my-auto" style="text-align: center;">
            <p class="about">
                A simple spam message detector using NLP and Machine Learning. Now days most of us use Gmail, where this
                technology is being used widely.
                There are many more application for spam message detector. Natural language processing or NLP is
                currently one of the major successful application areas for deep learning.<b style="color: coral;"> The model is embeded in
                contact form. You can fill
                up the contact form with dummy information.</b> Hit submit to see the result. Model has accuracy of 96.5% on
                test data.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 my-auto" style="text-align: left;">
            <div class="container" style="padding: 0 20%;">
                <h1>Technology</h1>
                <br>
                <h4 style="color: blue;">NLP & ML</h4>
                <ul>
                    <li>nltk (Text Processing) </li>
                    <li>Naive Bayes (ML algorithm) </li>
                    <li>Some more external library like pandas, numpy, sklearn</li>
                </ul>
                <br>
                <h4 style="color: blue;">Web Technology</h4>
                <ul>
                    <li>Flask</li>
                </ul>
                <br>
                <h4 style="color: blue;">Others</h4>
                <ul>
                    <li>Pickle (Connecting and Storing model)</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 my-auto" style="text-align: left;">
            <div class="container" style="padding: 0 20%;">
                <h1>Examples</h1>
                <br>
                <h4 style="color: red;">Spam</h4>
                <ul>
                    <li>SIX chances to win CASH! </li>
                    <li>Free entry in 2 a wkly comp to win FA Cup final tkts </li>
                    <li>WINNER!! As a valued network customer you have been selected. </li>
                </ul>
                <br>
                <h4 style="color: greenyellow;">Ham</h4>
                <ul>
                    <li>Hello world...</li>
                    <li>Welcome to this website</li>
                    <li>Your password has been changed</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container" style="padding: 5%;">
            <h2>Contact Us</h2>
            <form method="POST" action="" class="contact-form">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <h6>{{ form.name.label}}</h6>
                    {% if form.name.errors %}
                    {{ form.name(class = 'form-control is-invalid')  }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class = 'form-control')  }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <h6>{{ form.email.label}}</h6>
                    {% if form.email.errors %}
                    {{ form.email(class = 'form-control is-invalid')  }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class = 'form-control')  }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <h6>{{ form.message.label }}</h6>
                    {% if form.message.errors %}
                    {{ form.message(class = 'form-control is-invalid textarea') }}
                    <div class="invalid-feedback">
                        {% for error in form.message.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.message(class = 'form-control textarea')  }}
                    {% endif %}
                </div>
                <div class="form-submit">
                    {{ form.submit(class = "btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
    <div class="row fl">
        <div class="col cent">
            <p>Contact Developer</p>
        </div>
        
        <div class="row fl" style="height: 70px;">
            <div class="col cent">
                <a href="https://www.facebook.com/profile.php?id=100008888882996"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="facebook" class="icon"></a>
            </div>
            <div class="col cent">
                <a href="https://www.instagram.com/roybiplabofficial/"><img src="{{ url_for('static', filename='images/instagram-512.png') }}" alt="instagram" class="icon"></a>
            </div>
            <div class="col cent">
                <a href="https://www.linkedin.com/in/biplab-roy-4b63b316a/"><img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="linkedin" class="icon"></a>
            </div>
        </div> 
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
<style>
    body{
        overflow-x: hidden;
    }
    .about {
        font-size: larger;
        font-family: cursive;
        text-align: center;
        font-style: bold;
        margin-left: 10%;
        margin-right: 10%;
    }
    .textarea{
        height: 150px;
    }
    .icon{
        height: 50px;
        width: 50px;
        margin-top: 10px;
    }
    @media only screen and (max-width: 800px){
        .icon{
            height: 30px;
            width: 30px;
        }
    }
    .cent{
        text-align: center;
        font-size: large;
        color: white;
        font-weight: bold;
    }
    .contact{
        text-align: center;
        color: white;
        font-size: large;
        font-weight: bold;
    }
    .fl{
        background-color: black;
        opacity: 0.7;
        text-align: center;
    }
</style>
